.infobox {
  display: block;
  width: var(--size-full);
  margin-inline: auto;
  padding: var(--infobox-padding);
}

.infobox__title {
  display: block;
  color: var(--text-highlight-primary);
  margin: var(--infobox-title-margin);
}

.infobox__content > :first-child {
  margin-block-start: var(--size-zero);
}

.infobox__content > :last-child {
  margin-block-end: var(--size-zero);
}
