{{ define "main" }}
  <section class="headline">
    <div class="headline__name">{{ .Title | upper }}</div>
  </section>

  <section class="content-panel">
    {{ if .Content }}
      <article class="post-body">
        {{ .Content }}
      </article>
    {{ end }}

    {{ range .Pages.ByDate.Reverse }}
      <div class="row">
        <div class="label">{{ .Date.Format "02 JAN" | upper }}</div>
        <div class="message post-listing">
          <a href="{{ .RelPermalink }}">{{ .Title | upper }}</a>
        </div>
      </div>
    {{ else }}
      <div class="row">
        <div class="label">INFO</div>
        <div class="message">NO POSTS PUBLISHED.</div>
      </div>
    {{ end }}

    <div class="row">
      <div class="label">HOME</div>
      <div class="links">
        <a href="{{ `` | relURL }}">RETURN TO FRONT PAGE</a>
      </div>
    </div>
  </section>
{{ end }}
