{{ define "main" }}
  {{ partial "topline.html" (dict "pageNumber" (.Params.pageNumber | default site.Params.pageNumber)) }}
  {{ partial "headline.html" (dict "title" .Title) }}

  <section class="content-panel">
    <nav class="post-filters row" aria-label="Browse tags">
      <div class="post-filters__content">
        <div class="post-filters__links">
          {{ range site.Taxonomies.tags.Alphabetical }}
            <a href="{{ partial `term-url.html` .Page }}">{{ .Page.LinkTitle | upper }}</a>
          {{ end }}
        </div>
      </div>
    </nav>
    <hr class="post-footer-divider"/>
    {{ partial "list-footer-links.html" . }}
  </section>
{{ end }}
